/* :root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    max-width: 1000px;
    height: 3rem;
    background: #eee;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav img {
    height: 50%;
    margin: auto auto auto 1rem; 
}

nav a {
    text-decoration: none;
    color: #999;
    margin: 1rem;
}
nav a:hover {
    color: #222;
} */


.logo{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #eee;
    margin-top: 2rem;
}

#imgLogo{
    width:20vw ;
}

nav ul{
    display: flex;
    list-style-type: none;
}
nav li{
    margin: 1rem;

}
nav a{
    text-decoration: none;
    color: #999;
}

nav a:hover{
    font-size: 40px;
    color: black;
}