/* :root {
    font-size: 20px;
}

body {
    margin: 0;
    background: rgb(212, 212, 212);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

article.product {
    max-width: 1024px;
    height: 512px;
    background: #fff;
    display: flex;
    box-shadow: 0 0 2rem rgba(0,0,0,.1);
}

.product figure {
    margin: 0;
    padding: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255, 208, 0);
}

.product figure img {
    width: 20rem;
    margin-top: auto;
}

.product figure figcaption {
    font-size: 2rem;
    margin: auto 0 0 auto;
    color: rgba(0,0,0,.8);
}

.product aside {
    flex: 1;
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.product aside h1 {
    font-size: 2.2rem;
    margin: 2rem 0 0 0;
}

.product aside h2 {
    margin: 0;
    font-weight: 500;
}

p {
    font-size: 1rem;
    line-height: 1.4;
    color: rgba(0,0,0,.7);
}

button {
    appearance: none;
    border: none;
    background: none;
    font-size: 1rem;
    border: 2px solid black;
    padding: .75rem 1rem;

    color: black;
    margin: auto 0 0 auto;
}

button:hover {
    background: black;
    color: white;
    cursor: pointer;
} */



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #D4D4D4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
}

.product {
    width: 60vw;
    display: flex;
}

figure {
    background-color: #FECF2F;
    height: 60vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

figure img {
    width: 60%;
    margin: auto;

}

figcaption {
    align-self: end;
    padding-bottom: 2vh;
    padding-right: 2vh;
    font-size: 4vw;
    font-weight: bold;

}

.infoProduct {
    padding-left: 2vh;
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
}

article>section>p:first-child {
    font-size: 3rem;
    font-weight: bold;
    padding-top: 10vh;
    flex: 1;
}

article>section>p:nth-child(2) {
    font-size: 2rem;
    font-weight: bold;
    flex:3;
}

article>section>p:nth-child(3) {
    font-size: 2rem;
    margin-top: 2vh;
    font-weight: 400;
    color: gray;
    flex: 20;
}
.buttonClass{
    align-self: flex-end;
    padding-bottom: 2vh;
    padding-right: 2vh;
}
button{
    appearance: none;
    border: none;
    background: none;
    font-size: 1rem;
    border: 2px solid black;
    padding: .75rem 1rem;
    color: black;
}

button:hover {
    background: black;
    color: white;
    cursor: pointer;
} 
